---
BasedOnStyle: Google
---
Language: Cpp
Cpp11BracedListStyle: true
Standard: Cpp11
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: None
DerivePointerAlignment: false
PointerAlignment: Left
CommentPragmas: '^ NOLINT'
ColumnLimit: 120
---
Language: Proto
ColumnLimit: 100
---
